*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'DotGothic16', sans-serif;
    margin:0;
    background-color: rgb(170, 166, 166);
    display:flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to left, hsl(271, 76%, 53%), cyan);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(42, 1fr);
    grid-template-rows: repeat(42, 1fr);
    height: calc(100vmin - 10vh);
    width: calc(100vmin - 10vh);
    background-color: black;
    margin-bottom: 10px;
}
.player-one {
    background-color: hsl(271, 76%, 53%);
    border: .12vmin solid white;
    border-radius: 25%;
}
.player-two {
    background-color: cyan;
    border: .12vmin solid white;
    border-radius: 50%;
}
.options {
    display: flex;
    margin-bottom: 5px;
    min-height: 10vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 3px 3px black;
    justify-content: space-around;
    align-items: center;
}
.end-game {
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.end-game.show {
    display:flex;
}
.declare-winner {
    height: 25vh;
    font-size: 5.5rem;
}
.game-text-player-one {
    color: hsl(271, 76%, 53%);
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
}
.game-text-player-two {
    color: cyan;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
}
.start-message {
    position:absolute;
    animation: blinker 2s linear infinite;
    z-index: 1;
    font-size: 4vmin;
    color: white;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .start-message.hide {
      display: none;
  }
  .total-wins {
      display: flex;
      width: 50vw;
      justify-content: space-around;
      margin: 15px;
      font-size: 1.5rem;
      height: 15vh;
  }
  .restart {
      text-align: center;
      /* height: 3.8vh;
      width: 8vw; */
      font-size: 1.5rem;
      font-family: 'DotGothic16', sans-serif;
      box-shadow: 1px 1px 10px white;    
  }
  .restart:hover{
      color: white;
      background-color: black;
  }
  .end-game-text-player-one{
    color: hsl(271, 76%, 53%);
  }

  .end-game-text-player-two{
    color: cyan;
  }
