.img1{
  max-width: 30%;
  max-height: 50%;
}
.img2{
  max-width: 30%;
  max-height: 50%;
}
.img3{
  max-width: 30%;
  max-height: 50%;
}
.img4{
  max-width: 30%;
  max-height: 50%;
}
.img5{
  max-width: 30%;
  max-height: 50%;
}
.img6{
  max-width: 30%;
  max-height: 50%;
}
