p{
  color: red;
}
body{
  text-align: center;
}
.Header{
  padding-top: 6%;
  background-color: #48d368;
  font-family: cursive;
  font-size: 2rem;
}
.inputs{
  padding: 15px;
  background-color: #48d368;
}
th{
  font-size: 1.5rem;
  font-family: cursive;
}
.tableDiv{
  background-color: #48d368;
}
h1{
  font-size: 7rem;
}
.footer{
  background-color: #2dbc4e;
  padding:300px;

}
#submit {
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    width:17%;    //Specify your width here
}
